@charset "utf-8";

@import "../core/_variables.scss";
@import "../module/_spritesmith.scss";

/* icon
---------------------------------------------------- */
.mod-ico {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

@include sprites($sprite-img-sprites);
