@charset "utf-8";

/* Tab
---------------------------------------------------- */
.mod-tab {
    .tab-header {
        @include clearfix();
        border-bottom: 1px solid #ccc;
        li {
            display: inline;
        }
        a {
            display: inline-block;
            padding: 10px 20px;
        }
        .is-active a {
            background: #f7f7f7;
        }
    }
    .tab-content {
        display: none;
        padding: 10px;
        &.is-active {
            display: block;
        }
    }
}

